In [1]:
print("Hello JLL")

Hello JLL

In [2]:
a = "Variable Declaration"

print(a)

b = ("another example")
print(b)

Variable Declaration
another example

In [3]:
counter =100
name = "Dr.Rao"
miles = 1000.0


a = b = c = d = 100

print(a)
print(c)

100
100

In [4]:
x =100
y =300


print(x)
print(y)

x, y = y, x

print(x)
print(y)

100
300
300
100

In [5]:
name, age, address = "Dr.Rao", 43, "BLR"

In [6]:
print(name)
print(age)
print(address)

Dr.Rao
43
BLR

In [8]:
m = 12
m %= 7
print(m)

5

In [9]:
counter = 0
miles = 1000.0
name = "raj"


counter = counter + 1
kilometers = 1.609 * miles

print('%f miles is same as %f KM' % (miles, kilometers))

1000.000000 miles is same as 1609.000000 KM

In [11]:
print( 2 * 3)

print(2 ** 3)

6
8

In [12]:
x = 1

print(x >> 2)

print(x << 2)

print(x | 2)
print( x & 1)

print(30)

print(~30)

print(30 ^ 40)

0
4
3
1
30
-31
54

In [14]:
pi, x = 3.14, -1024

print( pi < 5)

print( not (pi < 5))

print((pi < 5) or (x > 900))


print((pi < 5) and (x > 900))


print( pi is x)

print(not (pi is x))

True
False
True
False
False
True

In [19]:
str = "Checking the proxy and the firewall"

print(str)

print(str[0])

print(str[2:5])

print(str[5:])

print(str * 2)

print(str + " custom data")

Checking the proxy and the firewall
C
eck
ing the proxy and the firewall
Checking the proxy and the firewallChecking the proxy and the firewall
Checking the proxy and the firewall custom data

In [22]:
list1 = ['abcd', 893, 2.23, "ram", 98]

tinyList = [123, "mahi"]

print(list1)

print(list1[0])

print(list1[2:4])

print(list1[2:])

print(list1 * 2)


print(list1 + tinyList)

['abcd', 893, 2.23, 'ram', 98]
abcd
[2.23, 'ram']
[2.23, 'ram', 98]
['abcd', 893, 2.23, 'ram', 98, 'abcd', 893, 2.23, 'ram', 98]
['abcd', 893, 2.23, 'ram', 98, 123, 'mahi']

In [24]:
list1 = ['abcd', 893, 2.23, "ram", 98]

print(len(list1))

print(list1[4])

del list1[2]

print(list1)

print(len(list1))

5
98
['abcd', 893, 'ram', 98]
4

In [26]:
list1, list2 = ["pyspark", "scala", "golang", "java", "javascript"], [30, 40, 50, 60, 70]

print(list1)
print(list2)

print(max(list1))

print(max(list2))


print(min(list1))

print(min(list2))

['pyspark', 'scala', 'golang', 'java', 'javascript']
[30, 40, 50, 60, 70]
scala
70
golang
30

In [14]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]

print(list2.count("pyspark"))
print(list2.index("java"))

print(list2.insert(3, "Erlang"))

print(list2)

2
3
None
['pyspark', 'scala', 'golang', 'Erlang', 'java', 'javascript', 'pyspark', 'java']

In [15]:
list2.pop()

'java'

In [16]:
print(list2)

['pyspark', 'scala', 'golang', 'Erlang', 'java', 'javascript', 'pyspark']

In [17]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]

list2.pop()
print(list2)

['pyspark', 'scala', 'golang', 'java', 'javascript', 'pyspark']

In [18]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]

list2.pop(3)
print(list2)

['pyspark', 'scala', 'golang', 'javascript', 'pyspark', 'java']

In [19]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]

list2.pop(3)

'java'

In [21]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]
list2.remove("golang")

In [22]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]
list2.remove("golang")
print(list2)

['pyspark', 'scala', 'java', 'javascript', 'pyspark', 'java']

In [23]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]
list2.remove("java")
print(list2)

['pyspark', 'scala', 'golang', 'javascript', 'pyspark', 'java']

In [24]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]
list2.reverse()
print(list2)

['java', 'pyspark', 'javascript', 'java', 'golang', 'scala', 'pyspark']

In [25]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]
list2.sort()
print(list2)

['golang', 'java', 'java', 'javascript', 'pyspark', 'pyspark', 'scala']

In [28]:
list1 = ["ram", 32]
list2 = ["raj", 56]

db = [list1, list2]

print(db)

[['ram', 32], ['raj', 56]]

In [29]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]
list2.extend(["Kotlin", "c++", "c"])
print(list2)

['pyspark', 'scala', 'golang', 'java', 'javascript', 'pyspark', 'java', 'Kotlin', 'c++', 'c']

In [30]:
def cmp(x, y) :
    return (x > y) - (x < y)


list1, list2 = [123, "xyz"], [456, "abc"]

print(cmp(list1, list2))

-1

In [31]:
print(cmp(list2, list1))

1

In [33]:
var = 100

if (var == 100) :
    print("var is 100")
    print("Done")

var is 100
Done

In [34]:
var = 100

if (var == 100) : print("var is 100")

print("Done")

var is 100
Done

In [35]:
var = 100

if (var == 100) :
    print("var is 100")
        print("Done")

IndentationError: unexpected indent (3746220904.py, line 5)

In [36]:
x, y = 30, 40

if x < y :
    smaller = x
else :
    smaller = y
    
print(smaller)

30

In [37]:
smaller =(x < y and [x] or [y])[0]

print(smaller)

30

In [38]:
smaller = x if x< y else y
print(smaller)

30

In [39]:
x = 2

if (x < 0) :
    print("x is negative")
elif x % 2 :
    print("x is positive and odd")
else :
    print("x is even and non negative")

x is even and non negative

In [41]:
name = input("What is your name ?")
if name.endswith("Rao") :
    print("Hello Rao")
else :
    print("Hello Others")

What is your name ? Vishwanath Rao

Hello Rao

In [42]:
count = 0

while (count < 9) :
    print(count)
    count = count + 1
    
print("loop finished")

0
1
2
3
4
5
6
7
8
loop finished

In [44]:
count = 0

while (count < 5) :
    print("Count is less than 5", count)
    count = count + 1
else :
    print("Count is not less than 5", count)
    
print("loop finished")

Count is less than 5 0
Count is less than 5 1
Count is less than 5 2
Count is less than 5 3
Count is less than 5 4
COunt is not less than 5 5
loop finished

In [45]:
for letter in "PySpark" :
    print(letter)

P
y
S
p
a
r
k

In [46]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]

for lang in list2:
    print(lang)

pyspark
scala
golang
java
javascript
pyspark
java

In [47]:
list2 = ["pyspark", "scala", "golang", "java", "javascript", "pyspark", "java"]

for index in range(len(list2)):
    print(list2[index])

pyspark
scala
golang
java
javascript
pyspark
java

In [48]:
for num in range(10, 30) :
    for i in range(2, num) :
        if num%i == 0 : 
            j = num/i
            print('%d equals %d * %d ' % (num, i, j))
            break
        else :
            print(num, 'is a prime number')

10 equals 2 * 5
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
11 is a prime number
12 equals 2 * 6
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
13 is a prime number
14 equals 2 * 7
15 is a prime number
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
17 is a prime number
18 equals 2 * 9
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
19 is a prime number
20 equals 2 * 10
21 is a prime number
21 equals 3 * 7
22 equals 2 * 11
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
23 is a prime number
24 equals 2 * 12
25 is a prime number
25 is a prime number
25 is a prime number
25 equals 5 * 5
26 equals 2 * 13
27 is a prime number
27 equals 3 * 9
28 equals 2 * 14
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number
29 is a prime number

In [50]:
for letter in "Python" :
    if letter == "h" :
        continue 
    print("Current letter is ", letter)

Current letter is  P
Current letter is  y
Current letter is  t
Current letter is  o
Current letter is  n

In [51]:
x = 1,2,3,4
print(x)

(1, 2, 3, 4)

In [52]:
x = (1, 2, 3, 4)
print(x)

(1, 2, 3, 4)